<footer xmlns:th="http://www.thymeleaf.org" class="footer-distributed hidden" th:fragment="footer">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jscript.js}"></script>
    <script type="text/javascript" th:src="@{/js/perfect-scrollbar.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>

</footer>


