<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/profile}"> <img src="../../static/images/logo_true.png"
                                                                         th:src="@{/images/logo_true.png}" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/room/list}">Room List</a></li>
                <li><a th:href="@{/doctor/list}">Doctor List</a></li>
                <li><a th:href="@{/activity}">Activities</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
</th:block>
</html>