/*@import url(reset.css);*/

body {
    /*background: linear-gradient(to right, rgb(173, 169, 150), rgb(242, 242, 242), rgb(219, 219, 219), rgb(234, 234, 234));*/

}
li {
    list-style-type: none;
}
a{
    color: rgba(203, 32, 32, 0.72);
}
a:hover{
    color:red;
    text-decoration: none;
}
.sidenav ul{
    margin-left: -30px;
}

.sidenav ul li span{
    margin-right: 15px;
    margin-top: 1px;
}
#list{
    margin: 0 150px 15px 150px;
    border-radius: 10px;
    background-color: #393939;
    overflow: hidden;
    font-size: 14px;
}
#list table{
    margin-bottom: 1px;
}
#list td{
    text-align: center;
    color: #818181;
    border: none;
    background-color: #222;

}
#list th{
    font-size: 15px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #00ad5f;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 125px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
#rooms-list,#user-list{
    width: 500px;
    margin-left: 300px;
}

#input-form button {
    margin: 10px 0px 25px 44%;
}
#profile-form h2{
    padding-top: 15px;

}
#profile-form{
    width: 50%;
    color: #818181;
    background-color: #111;
    margin: 1px 2% 3px 25%;
    box-shadow: 9px 6px 23px 0px rgba(0,0,0,0.75);
    border-radius: 12px;
}
#profile-form label {
    margin-left:5%;
}

#input-login,#input-password,#input-id,#input-email{
    width: 90%;
    margin: 0 auto;
    /*

        margin-bottom: 10px;
        float:left;
    */
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#open p{
    width: 250px;
    color: #000;
    margin: 2px 1px 47px 5px;
    font-size: 32px;
    padding-top: 5px;
    cursor: pointer;
}

.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

.table>thead>tr.info>th {
    background-color: transparent;
}
