<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <head th:replace="/fragments/head :: head"></head>
</head>
<body id="main">
<div th:replace="/fragments/sidebar :: bar"></div>
<!--<div th:replace="/room/table-chat :: chat"></div>-->
<div id="messages">
    <table class="table" id="out">
        <tbody class="js-pscroll">
        <tr th:each="comment : ${comments}">
            <td><a th:text="*{comment.author}"></a>: <span th:text="*{comment.text}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="input-box">
    <form id="save-comment" role="form" th:object="${comment}" th:action="@{/comment/save/}" method="post">
         <span><input type="hidden" class="form-input" id="idRoom" name="id" th:value="${room.id}"/></span>
        <input id="field" name="text" th:field="*{text}" class="form-control" type="text" autocomplete="off"/>
        <button id="send" class="btn btn-primary" th:onclick="'getIdRoom(' + ${room.id} + ')'">Send</button>
    </form>
</div>
<footer th:replace="/fragments/footer::footer"></footer>
<script>
    const ps = new PerfectScrollbar('#messages');
</script>
</body>
</html>