<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="rooms">
<div id="list-table">
    <!--<h2 class="text-center">Rooms</h2>-->
    <div class="text-center" th:if="${not #lists.isEmpty(rooms)}">
        <table class="table table-borderless" id="sort">
            <thead>
            <tr class="info">
                <th class="text-center"><a href="#">Id</a></th>
                <th class="text-center"><a href="#">Name</a></th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="room : ${rooms}">
                <!--<td><a th:href="${'/patient/info/' + patient.id}" th:text="${patient.id}"></a></td>-->
                <td th:text="${room.id}">Id</td>
                <td th:text="${room.name}">Name</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</th:block>
</html>
